klipper/
scripts/
*.log
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gitconfig
.local/
.npm/
.nvm/
.octoprint/
.profile
.selected_editor
.ssh/
.wget-hsts
OctoPrint/
klippy-env/
mjpg-streamer/
oprint/
printer-*.cfg
*.bkp
