#...................................................................................................
# Euclid Probe Safety Checks

[gcode_macro _do_error_if_probe_deployed]
gcode:
    {% if not printer.probe.last_query %}
        {action_raise_error("ERROR: probe still deployed - remove and return to dock.")}
        M118 !?Probe still deployed
    {% endif %}

[gcode_macro _error_if_probe_deployed]
gcode:
    G4 P300
    QUERY_PROBE
    _do_error_if_probe_deployed

[gcode_macro _do_error_if_probe_not_deployed]
gcode:
    {% if printer.probe.last_query %}
        {action_raise_error("ERROR: probe unsuccessfully deployed.")}
    {% else %}
        {action_respond_info("Euclid Probe has been attached.")}
    {% endif %}

[gcode_macro _error_if_probe_not_deployed]
gcode:
    G4 P300
    QUERY_PROBE
    _do_error_if_probe_not_deployed


## Probe-specific Macros

## Set stow coordinates here
[gcode_macro _ALIGN_POSITION_STOW]
gcode:
      G0 Z15 F5000                  ;  set approach elevation of Z15 for fixed gantry system to clear probe over bed
      G0 X175 Y175 F9000            ;  start movements at center of the bed
      G0 X50 Y350 F9000               ;  move to the re-entry staging position

[gcode_macro _POSITION_STOW]
gcode:
      G0 X10 Y350 F1000                 ;  slowly move into dock
      M400                          ;  wait for moves to finish
      G4 P250                       ;  forced pause here so motion is definite 90 tavel to swipe


## Set deployment coordinates here
[gcode_macro _ALIGN_POSITION_DEPLOY]
gcode:
      G0 Z15 F5000         ;  set approach elevation of Z15 to clear probe over bed on fixed gantry machine
      G0 X10 Y300 F8000           ;  move the carraige to safe position to move from. this is the pre-flight position

[gcode_macro _POSITION_DEPLOY]
gcode:
      G0 X10 Y350             ;  move sideways over the dock to pick up probe. this is the dock position

# Macro to Deploy Bed Probe
[gcode_macro _PROBE_DEPLOY]
gcode:
    G90
    {% if printer.probe.last_query %} 
      _ALIGN_POSITION_DEPLOY
      G4 P250              ;  wait 1/4 second 
      _POSITION_DEPLOY
      M400                 ;  wait for moves to finish
      G4 P250              ;  pause 1/4 sec for detection
      G0 X80 Y350            ;  move out of the dock in a straight line to the dock exit poistion
      G0 Z15               ;  move up to clear the probe over the bed of moving gantry or provide clearance for fixed gantry
      G0 X175 Y175 F8000         ;  move probe to center of bed in ready position 
    {% endif %}
    _error_if_probe_not_deployed



# Macro to Stow Bed Leveling Probe
[gcode_macro _PROBE_STOW]
gcode:
    G90
    {% if not printer.probe.last_query %} ; the logic on this needs function check
      _ALIGN_POSITION_STOW
      _POSITION_STOW
      G0 X10 Y300 F8000               ;  quick swipe off 
      G0 X175 Y175 F8000                   ;  move to front center of bed 
      G0 Z20 F500                   ;  move up to elevation of Z20
    {% endif %}                     ;  exit the if-then loop. was missing in previous versions
    _error_if_probe_deployed         ;  verify that the probe is detached. is corrected error  

# M401 - Deploy Euclid Probe
[gcode_macro _M401]
gcode:
    G90
    {% if printer.probe.last_query %}
	{action_respond_info("Nabbing that bitch")}
	M118 Nabbing that bitch	        
       # G28 Z
        _PROBE_DEPLOY
    {% else %}
	_do_error_if_probe_deployed	
    {% endif %}

[gcode_macro M401]
gcode:
    G90
    _error_if_probe_deployed    ; check to make sure that the probe is not already attached
    _M401

# M402 - Stow Euclid Probe
[gcode_macro _M402]
gcode:
    G90
    {% if not printer.probe.last_query %}
	{action_respond_info("Docking that shit")}
	M118 Docking that shit
        G28 Z
        _PROBE_STOW
    {% else %}
	{action_raise_error("Probe is not attached.")}
	M118 !?Probe is not attached
    {% endif %}

[gcode_macro M402]
gcode:
    G90
    _error_if_probe_not_deployed
    _M402

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: QUAD_GANTRY_LEVEL_ORIGINIAL
gcode:
    LCD_LED_PROBING
    QUERY_PROBE
    M401
    QUAD_GANTRY_LEVEL_ORIGINIAL
    M402
    LCD_LED_OK
